*{margin:0;}
body,html{height:100%;}
div.left{
    width:18%;
    float:left;
    height:100%;
    background: #eee;
    padding: 5px;
}
div.right{width:81%;float:left; height:100%;}
details{margin:10px;}

ul{
    list-style-type: none;
}
li{
    padding: 5px;
}

li a {
    font-size:16px;
    padding: 2px;
} 
li a:link {
    color: black; 
    text-decoration:none;
} 
li a:active{
    color: white; 
    text-decoration:none;
    background: black;
    transition: background 1s;
	-webkit-transition: background 1s; /* Safari */} 
li a:visited {
    color: black; 
    text-decoration:none;
} 
li a:hover {
    color: white; 
    text-decoration:none;
    background: black;
    transition: background 1s;
	-webkit-transition: background 1s; /* Safari */
} 


/* 隐藏默认三角 */
.details-2 ::-webkit-details-marker {
    display: none;
}
.details-2 ::-moz-list-bullet {
    font-size: 0;
}
/* 自定义的三角 */
.details-2 summary::after {
    content: '';
    position: absolute;
    width: 1em; height: 1em;
    margin: .2em 0 0 .5ch;
    background: url(/images/arrow-on.svg) no-repeat;
    background-size: 100% 100%;
    transition: transform .2s;
}
.details-2:not([open]) summary::after {
    margin-top: .25em;
    transform: rotate(90deg);    
}
/*边框效果*/
summary {
    user-select: none;
    outline: 0;
}
summary[focus] {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

summary {font-size:1.5em;}
