*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clear {
    *zoom: 1;           /* for IE 6/7 */
}

.clear:before, .clear:after {
    height: 0; 
    content: "";
    font-size: 0;
    display: table;
    line-height: 0;     /* for Opera */
    visibility: hidden;
}

.clear:after {
    clear: both;
}


#layout {
    text-align: left;
}

#layout > header, .btns {
    padding: 15px 0;
    width: 90%;
    margin: 0 auto;
}

.btns {
    padding-top: 0;
}

.btns button {
    padding: 2px 8px;
}

#layout > header > h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.btns button, .btn {
    padding: 8px 10px;
    background: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: background 300ms ease-out;
    transition: background 300ms ease-out;
}

.btns button:hover, .btn:hover {
    background: #f6f6f6;
}