<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8" />
<title>添加文章</title>
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/editormd.min.css" />
<link rel="stylesheet" href="/css/main.css" />
<script src="/js/jquery.min.js"></script>
<script src="/js/editormd.min.js"></script>
<script type="text/javascript">
	var testEditor;

	$(function() {
		testEditor = editormd("test-editormd", {
			width : "90%",
			height : $(window).height()-170,
			syncScrolling : "single",
			path : "/lib/",
			saveHTMLToTextarea : true,
            htmlDecode : "style,script,iframe|on*",            // 开启 HTML 标签解析，为了安全性，默认不开启    
			onload : function() {
				//this.fullscreen();
				//this.previewing();
			},
			/**上传图片相关配置如下*/
	        imageUpload : true,
	        imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
	        imageUploadURL : "/file/up"//注意你后端的上传图片服务地址
		});
	});
	
	$(document).ready(function(){
		$("#sub1").click(function() {
			var art_md=testEditor.getMarkdown();
			var art_html=$(".editormd-preview-container").html();
			var art_htm=testEditor.getHTML();
			var reg1 = /# (.*?)\n/;
			var art_title=art_md.match(reg1)[1];
			var reg2=/<blockquote>([\s\S]*?)<\/blockquote>/;
			var art_abs=art_htm.match(reg2)[1];

			$.post("/adm/addHandle",{
				title:art_title,
				abs:art_abs,
				md:art_md,
				html:art_html
			},function(data,status){
				if(status!="success"){
					return;
				}
				if(data.resuCode==0){
					alert("添加成功！");
					window.location.href = "/adm/arts";
				}else{
					alert("添加失败");
				}
			});
		});
	});
</script>
</head>
<body>
	<div id="layout">
		<header>
			<h1>添加文章</h1>
		</header>
		<div id="test-editormd">
			<textarea style="display: none;"># 标题
[tag]:默认0|默认1

> 简介

内容
</textarea>
		</div>
	</div>
	<div style="text-align: center;"><input type="submit" id="sub1" class="btn"></div>
</body>
</html>